[tool.poetry]
name = "ccy"
version = "1.3.0"
description = "Python currencies"
authors = ["Luca Sbardella <luca@quantmind.com>"]
license = "BSD"
readme = "README.rst"
packages = [
    { include = "ccy" }
]

[tool.poetry.dependencies]
python = "^3.8,<3.12"
python-dateutil = "^2.8.2"
pytz = "^2022.5"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
flake8 = "^5.0.4"
isort = "^5.10.1"
coverage = "^6.5.0"
codecov = "^2.1.12"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
mypy = "^0.982"
flake8-blind-except = "^0.2.1"
flake8-commas = "^2.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
