name: build

on:
  push:
    branches-ignore:
      - deploy
    tags-ignore:
      - v*

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      PYTHON_ENV: ci
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: make install
    - name: run lint
      run: make lint
    - name: run tests
      run: make test
    - name: upload coverage
      if: matrix.python-version == '3.11'
      run: make codecov
    - name: publish
      if: ${{ github.ref == 'refs/heads/main' && matrix.python-version == '3.10' && github.event.head_commit.message == 'release' }}
      run: make publish
